html, body, section, header, div, h1, a {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  vertical-align: baseline;
}

h1, ul, li, span, strong {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: 'Cantarell', sans-serif;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #4D7ACE;
}

input, textarea {
  padding: 5px;
  font-size: 14px;
}

@media print {
    .no-print { display: none; }
}

body {
  background: grey;
}

form.letter {
  width: 8.5in;
  margin: auto;
  background: white;
  padding: 40px 100px;
  margin: 50px auto;
}

form.letter > h1 {
  margin-bottom: 20px;
}

form.letter > div {
  margin-bottom: 10px;
}

form.letter > input, form.letter > textarea {
  width: 8.5in;
  margin-bottom: 10px;
}

form.letter > textarea {
  height: 100px;
}

.content {
  width: 8.5in;
  height: 11in;
  position: relative;
  background: white;
  padding: 40px 100px 0 100px;
  margin: auto;
  margin-top: 50px;
}

header {
  margin-bottom: 8px;
}

h1.name {
  font-size: 48px;
  font-weight: 100;
  border-bottom: 8px solid #456DB7;
}

.last-name {
  color: #456DB7;
  font-weight: 1000;
}

span.partition {
  margin: 0 5px;
}


.contact {
  color: #686868;
  padding-top: 6px;
}

div.date {
  padding-top: 60px;
  padding-bottom: 10px;
}

.content > div {
  margin: 20px 0;
}

.letter-body {
  line-height: 24px;
}

div.ending {
  margin-top: 50px;
  margin-bottom: 30px;
}

footer {
  position: absolute;
  top: 12in;
  width: 8.5in;
  text-align: center;
}

footer li {
  display: inline;
}

footer a {
  color: #456DB7;
}